$main-background: #F5F1EA;
$subtitle: #A68A6D;
$main-title: #6B4F3A;
$second-title: #A07454;
$main-text: #594336;

html{
  background-color: $main-background;
}

.typemachine{
  background-color: #F5ECD5;
}

.header{

  &__title{
    font-size: 128px;
    color: $main-title;
    text-align: center;
  }

  &__subtitle{
    font-size: 36px;
    color: $subtitle;
    text-align: center;
  }
}
